@import "../../scss/vars";

.header {
    padding: 15px 0 15px;
    background-color: $gray;
    font-family: 'Poppins-Bold';
    font-weight: 500;

    &__title {
        color: $title-color;
    }
}

//media

@media(max-width:450px){
    .header{
        &__title{
            font-size: 20px;
        }
    }
}